version: '3.8'

services:
  service1:
    build:
      context: ./ingest
      dockerfile: Dockerfile
    container_name: ingest
    ports:
      - "8001:8000"   # maps host:container
    depends_on:
      - db

  service2:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: api
    ports:
      - "8002:8000"
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  db_data:
